header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 0 3px var(--nav-line);
    height: 4rem;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100vw;
    background-color: var(--bg-primary);
    z-index: 99;
}

.nav-items {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 1.2rem;
    margin: 0;
}

.logo {
    margin-left: 2rem;
}

.nav-items {
    li {
        a {
            align-items: center;
            text-decoration: none;
            display: block;
            cursor: pointer;
            padding: 1rem;
            margin: 0 .5rem;
            transition: color 300ms;
            color: var(--color-text);
        
            &:hover {
                color: var(--color-nav);
            }
        }
    }
}


.fullscreen-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    background-image: url('../img/alivebg2.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.fullscreen-video {
    video {
        min-width: 100vw;
        min-height: 100vh;
        max-width: 100%;
    }
}

.header-overlay {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 1;
}

.header-content {
    z-index: 2;
}

header {
    .btn-primary {
        margin-top: 1rem;
        background: var(--header-button);
        border: none;
        
        &:hover {
            background: var(--header-button-hover);
        }
    }
}

.coloricon {
    fill: var(--theme-icon);
}