/* <a href="https://github.com/joevtap" class="joevtap-github" target="blank">@joevtap's github & portfolio</a> */

.joevtap-github {
    display: block;
    position: fixed;
    bottom: 2rem;
    left: 2rem;
    z-index: 99;
    border-radius: .4rem;
    background-color: #001b02c2;
    box-shadow: 0 0 5px #17ff80;

    text-decoration: none;
    color: #17ff80;
    font-size: 1.1rem;
    padding: 1rem;

    transition: transform 200ms;
}

.joevtap-github:hover {
    color: #17ff80;
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .joevtap-github {
        bottom: 1rem;
        left: auto;
        transform-origin: 50% 50%;
        transform: scale(.85);

    }

    .joevtap-github:hover {
        color: #17ff80;
        transform: scale(.85);
    }
}