@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap");

/* font-family: 'Work Sans', sans-serif;  */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

html {
    min-height: 100%;
    position: relative;
    scroll-behavior: smooth;
    font-family: 'Work Sans', sans-serif;

    /* colors light*/
    --bg-primary: #ffffff;
    --bg-secondary: #f5f5f5;
    --color-headings: #f26d7d;
    --color-text: #232931;
    --pink-strong: #f26d7d;
    --pink-medium: #f8b4bc;
    --pink-light: #fcdade;
    --color-nav: #f26d7d;
    --go-top: #f26d7d;
    --mobile-menu: #f26d7d;
    --go-top-hover: #f8b4bc;
    --mobile-menu-hover: #f8b4bc;
    --social: #f26d7d;
    --social-hover: #f8b4bc;
    --nav-line: #0000005b;
    --btn-close: none;
    --color-card: #ffffff;
    --color-form: #ffffff;
    --heading-white: #ffffff;
    --header-button: #f26d7d;
    --contato-button: #f26d7d;
    --header-button-hover: #f54c5f;
    --contato-button-hover: #f54c5f;
    --joevtap: #f26d7d;
    --joevtap-hover: #f54c5f;
}

html[data-theme="dark"] {

    /* colors dark*/
    --bg-primary: #232931;
    --bg-secondary: #393e46;
    --color-headings: #b761f8;
    --color-text: #ffffff;
    --color-nav: #9030d9;
    --go-top: #b761f8;
    --mobile-menu: #b761f8;
    --go-top-hover: #9030d9;
    --mobile-menu-hover: #9030d9;
    --social: #b761f8;
    --social-hover: #9030d9;
    --nav-line: #4a4f57;
    --btn-close: invert(1) grayscale(100%) brightness(200%);
    --color-card: #393e46;
    --color-form: #393e46;
    --heading-white: #ffffff;
    --header-button: #b761f8;
    --contato-button: #b761f8;
    --header-button-hover: #9030d9;
    --contato-button-hover: #9030d9;
    --joevtap: #b761f8;
    --joevtap-hover: #9030d9;
}

h1, h2, h3, p, button, a {
    font-family: 'Work Sans', sans-serif;
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

body {
    color: var(--color-text);
    background-color: var(--bg-primary);
    font-family: 'Work Sans', sans-serif;
    overflow-x: hidden;
}

.talentos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contato {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 4rem;
    color: var(--color-text);
}

h2 {
    font-size: 2.5rem;
    color: var(--color-text);
}

p {
    color: var(--color-text);
}

.heading {
    font-family: 'Work Sans', sans-serif;
    color: var(--color-headings);
    font-weight: bold;
    
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
    transition: all 750ms !important;
    -o-transition: all 750ms !important;
    -webkit-transition: all 750ms !important;
    -moz-transition: all 750ms !important;
    transition-delay: 0 !important;
    -o-ransition-delay: 0 !important;
    -webkit-transition-delay: 0 !important;
    -moz-transition-delay: 0 !important;
}
