@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Yusei+Magic&display=swap");

/* font-family: 'Montserrat', sans-serif;

font-family: 'Open Sans', sans-serif;

font-family: 'Yusei Magic', sans-serif; */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

html {
    min-height: 100%;

    /* colors light*/
    --bg-primary: #ffffff;
    --bg-secondary: #f5f5f5;
    --color-headings: #9030d9;
    --color-text: #232931;
    --pink-strong: #f26d7d;
    --pink-medium: #f8b4bc;
    --pink-light: #fcdade;
    --color-nav: #f26d7d;
    --go-top: #f26d7d;
    --go-top-hover: #f8b4bc;
    --nav-line: #0000005b;
}

html[data-theme="dark"] {

    /* colors dark*/
    --bg-primary: #232931;
    --bg-secondary: #393e46;
    --color-headings: #9030d9;
    --color-text: #ffffff;
    --color-nav: #9030d9;
    --go-top: #9030d9;
    --go-top-hover: #b761f8;
    --nav-line: #4a4f57;
}

body {
    color: var(--color-text);
    background-color: var(--bg-primary);
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
    transition: all 750ms !important;
    transition-delay: 0 !important;
}