.modal-content {
    background-color: var(--bg-secondary);
}

.modal-body {
    display: flex;
    justify-content: space-around;
}

.modal-body h2 {
    color: var(--color-headings);
}

.modal-body img {
    max-width: 350px;
    max-height: 350px;
}

.btn-close {
    filter: var(--btn-close);
}

.modal-header {
    border-bottom: none;
}

.specs {
    font-size: 1.2rem;
}

.links {
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
}

.links a:first-child {
    margin-right: 1rem;
}

.links span {
    font-size: 2rem;
    color: var(--social);

}
.links span:hover {
    color: var(--social-hover);
}

.morphilus img {
    align-self: center;
}

.izuwumi img {
    align-self: center;
}

.purin img {
   align-self: center;
} 

.oceane img {
    align-self: center;
}